<div class="text-center">
  user-profile-editor works!
</div>
<label>
  Name:
  <input type="text" [formControl]="name">
</label>

<p>
  Value: {{ formData }}
</p>

<p>
  <button (click)="updateName()">Update Name</button>
</p>

<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <label>
    Name:
    <input type="text" formControlName="name">
  </label>

  <label>
    ID:
    <input type="text" formControlName="id">
  </label>

  <label>
    Phone Number:
    <input type="text" formControlName="phoneNumber">
  </label>

  <button type="submit" [disabled]="!profileForm.valid">Submit</button>

</form>
